.bodybg{
    
    color: #ffffff;
    background-color: rgb(231, 250, 243);

}

.imgsize{
    height: 25em;
    width: 35em;
    padding-top: 2em;
}

.parapadd{
    font-size: 1.3em;
}

.navbackground{
    background-color: rgb(34, 59, 50);  
}

.dropdown-menu{
    background-color: rgb(34, 59, 50);  
}

.dropdown-item{
    color: white;
}

.textedit{
    text-decoration: none;
    color: white;
    padding-bottom: 0.2em;
}

.navmagnet{
    display: flex;
    justify-self: end;
}

.largetxt{
    font-size: 1.2em;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 .dropdown-toggle::after {
    content: none;
}

.headtxt{
    color: rgb(34, 59, 50);  
}

.blacktxt{
    color: black;
}
.bluetxt{
   color:  rgb(29, 41, 81);
}
/* .bordercol{
    border: 3px solid rgb(29, 41, 81);
} */

.parawidth{
    margin-left: 10em;
    margin-right: 10em;
}

.videodim{
    width: 40em; 
    height: 27em;
}
.video1dim{
    width: 28em; 
    height: 39.5em;
}

.video2dim{
    width: 30em;
    height: 20em;
}  

.h4leftmgn{
    margin-left: 6.7em;

}
.footertxt{
    font-size: 0.9rem;
    margin-top: 0.5em;
}

@media (max-width: 1000px) {

    .footertxt{
        font-size: 0.8rem;

    }

   .parawidth{
       margin-left: 2em;
       margin-right: 2em;
   }

   .videodim{
       width: 25em;
       height: 15em;
   }
   .video1dim{
        width: 22em; 
        height: 34em;
    }  
    .video2dim{
        width: 25em;
        height: 15em;
    }  
    .caroselhome{
        max-height: 16em;
    }

    .centervids{
        display: flex;
        justify-content: center;
    }
    .flexvertical{
        flex-direction: column;
        align-items: center;
    }
    .martop{
        margin-top: 1.5em;
    }

    .h4leftmgn{
        text-align: center;
    }
    .imgsize{
    height: 19em;
    width: 28em;
    padding-top: 2em;
}
}

.sliding_images{
    max-height: 100%;
}

.carouselcov{
    height: 25em;
}

.caroselhome{
    height: 40.5em;
}


.fa {
    padding: 10px;
    font-size: 0.5rem;
    width: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
} 
.fa-instagram {
    background: #d6249f;
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.mediafont{
    font-size: 1.2em;
}


.section{
    scroll-margin-top: 3rem;
    margin: 0px;
}

/* .links{
    height: 15rem;
    overflow: hidden;
    position: sticky;
    top: 5rem;
} */